## Comments with Hashes
## Command line options always override config file options
##
## Example config

## Data directory to store the files
database = ~/.pycards/pycards.db

## Type of interface. Possible values
# - cli
# - web (not implemented yet)
interface = cli

## Flashcard system. Possible values
# - file order with all cards
# - leitner system
# - random order with all cards
system = order
